<% @dashboard_checklists.each do |c| %>
	<div class="panel-body">
		<% if c.is_implemented? %>
			<button class="btn btn-success"><%=c.name%><span class="glyphicon glyphicon-ok"></span></button>
		<%else%>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<%=c.name%></button>
			<ul class="dropdown-menu">
				<li><%=link_to  "Implement this checklist", new_implementation_path(:checklist_id => c.id) %></li>
			</ul>
		</div>
		<%end%>
	</div>
<% end %>